* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0B3D91;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 140px;
}

.company-name {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* ensures space for text + button */
    padding: 60px 20px;
    background: linear-gradient(to right, #0B3D91, #06286B);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #0B3D91;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 40px;
}

section h2 {
    margin-bottom: 20px;
    color: #0B3D91;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #0B3D91;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #0B3D91;
    color: white;
    text-align: center;
    padding: 20px;
}
.google-link {
    display: inline-block;
    padding: 8px 15px;
    background: #4285F4; /* Google blue
    */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.google-link:hover {
    background: #3367D6; /* Darker blue on hover */
}